html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 1em;
  -webkit-text-size-adjust: 95%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container div {
  flex-flow: row wrap;
  display: inline-block;
  text-align: left;
  max-width: 300px;
    margin-bottom: 2em;
    padding-bottom: 1em;
    vertical-align: top;
    transition: opacity 1s;
    margin-right: 18px;
}

p{
  font-size: 0.91em;
    line-height: 1.4;
    font-family: Helvetica, Arial, Verdana, sans-serif;
  font-style: italic;
}

#more {display: none;}

h1 {
  color: #000;
  /* color: blue; */
  font-family: "HelveticaNeue-Regular", "Helvetica Neue", "Helvetica Neue",     Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 400;
  padding-left: 35px;
  padding-bottom: 50px;
  text-decoration: underline;
  position: absolute;
  text-transform: uppercase;
}

#myBtn {
  font-family: "HelveticaNeue-Regular", "Helvetica Neue", "Helvetica Neue",     Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
    list-style-type: none;
    color: #000;
  background: none;
  border: none;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

a:hover{
  color: black;
}

a:visited {
  color: black;
}

li a{
  list-style-type: none;
  text-decoration: none;
  color: #000;
  margin: 0px;
  padding: 0px;
}

  .other {
  margin-top: 70px;
  font-family: "Helvetica";
  font-size: 20px;
  line-height: 28px;
  padding-left: 35px;
  text-transform: uppercase;
  position: absolute;
    list-style-type: none;
    color: #000;
}

  #myBtn {
    font-family: "Helvetica";
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
      list-style-type: none;
      color: #000;
    background: none;
    border: none;
  }

#main-content{
  margin-top: 75vh;
}

  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    justify-content: left;
  }

  .flex-container > div{
    /* background-color: #f1f1f1; */
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: .8em;
    color: navy;
  }

  img{
    width: 200px;
    /* border-radius: 15px; */
    margin: 10px;
  }